.logo {
  text-decoration: none;
  position: relative;
  color: inherit;
  display: inline-block;
  min-width: 57px;
  white-space: nowrap;
}
.logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-mini) 0 0;
}
.search-icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.search-icon-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xl);
}
.search {
  text-decoration: none;
  align-self: stretch;
  height: 32px;
  position: relative;
  color: inherit;
  white-space: nowrap;
  display: inline-block;
  flex-shrink: 0;
}
.nav-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-12xs) var(--padding-9xs);
}
.search2 {
  text-decoration: none;
  align-self: stretch;
  height: 32px;
  position: relative;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
}
.nav-menu,
.navigation-bar {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.nav-menu {
  height: 65px;
  width: 280px;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0;
  font-size: var(--font-size-xs);
}
.navigation-bar {
  align-self: stretch;
  height: 60px;
  background-color: #aed1c9;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 var(--padding-9xs) 21px var(--padding-3xs);
  top: 0;
  z-index: 99;
  position: sticky;
  gap: 20px;
  text-align: left;
  font-size: 20px;
  color: var(--color-black);
  font-family: var(--font-inter);
}
.image-1-icon {
  height: 504px;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.description-blocks-child {
  align-self: stretch;
  height: 163px;
  position: relative;
  background-color: var(--color-lightyellow);
  display: none;
  z-index: 1;
}
.welcome-to-herb {
  margin: 0;
}
.welcome-to-herb-container {
  margin: 0;
  position: absolute;
  height: 100%;
  top: 0;
  left: 11px;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 488px;
  z-index: 2;
}
.frame-child {
  position: absolute;
  top: 47px;
  left: 0;
  width: 462.5px;
  height: 0.5px;
  object-fit: contain;
  z-index: 2;
}
.welcome-to-herb-wellness-parent {
  width: 499px;
  height: 126px;
  position: relative;
  flex-shrink: 0;
  max-width: 108%;
}
.a-small-business {
  width: 469px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
  max-width: 105%;
  z-index: 2;
}
.description-blocks,
.hero-subtitle {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.hero-subtitle {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-mini);
  margin-top: -63px;
  font-size: var(--font-size-mini);
  color: var(--color-darkmagenta);
}
.description-blocks {
  width: 469px;
  margin: 0 !important;
  position: absolute;
  top: 21px;
  right: 215px;
  background-color: var(--color-lightyellow);
  flex-direction: column;
  padding: 9px 0 28px var(--padding-9xs);
  min-height: 163px;
  z-index: 1;
}
.description-blocks-item,
.hero {
  position: relative;
  max-width: 100%;
}
.hero {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: 35px;
  color: var(--color-darkslategray);
  font-family: var(--font-inter);
}
.description-blocks-item {
  width: 904px;
  height: 170px;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  display: none;
}
.about-me {
  margin: 0;
  width: 295px;
  position: relative;
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.about-me-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 20px 0 181px;
}
.hello-my-name {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-mini);
  color: var(--color-darkmagenta);
  z-index: 1;
}
.description-blocks1,
.root {
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.description-blocks1 {
  align-self: stretch;
  padding: 0 18px 7px;
  gap: 11px;
  text-align: left;
  font-size: 30px;
  color: var(--color-darkslategray);
  font-family: var(--font-inter);
}
.root {
  width: 904px;
  background-color: var(--color-lightyellow);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 750px) {
  .welcome-to-herb-container {
    font-size: 28px;
  }
  .about-me {
    font-size: 24px;
  }
}
@media screen and (max-width: 675px) {
  .about-me-wrapper {
    padding-left: 90px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .welcome-to-herb-container {
    font-size: 21px;
  }
  .about-me {
    font-size: 18px;
  }
}
